
<nav th:fragment="menu" class="navbar navbar-expand-sm bg-dark navbar-dark">
	<!-- Brand/logo -->
	<a class="navbar-brand" href="/">Principal</a>

	<!-- Links -->
	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link" href="/produto/listar">Produtos</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/fornecedor/listar">Fornecedor</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/categoria/listar">Categoria</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/arquivo">Arquivo</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/viagem">Viagem</a>
		</li>
	</ul>
</nav>